@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Online Todo List</h3>
    <h5>Welcome to online Todo list application created by Aditya Magotra.</h5>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Minimal functionality</h3>
        <ul>
            <li>
                User can sign in using unique login and password securely
                (this can be hard coded to a default user list, at list one user
                e.g. with username: test, password: pwd123)
            </li>
            <li>
                User can view her/his task list
            </li>
            <li>
                User can add/remove task
            </li>
            <li>
                All changes can be persistent to allow view them in next sign in by the same user
            </li>
            <li>
                Each task should display the date of last updates and description
            </li>
            <li>User can check/uncheck</li>
        </ul>
    </div>
</div>